* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.movie_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.movie_card {
  list-style: none;
}