* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 0 10px 0 10px;
  background-color: black;
  display: flex;
  justify-content: space-between;

  .left_container {
    width: 10%;

    img {
      width: 100%;
    }
  }

  .rigth_container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 3rem;

    h1 {
      color: white;
    }
  }


}

.movie_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}